.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #063970;
    margin: 4rem 0;
    width: 60%;
}

.auth-form {
    width: 60%;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #154c79;
    /* margin-right: 14rem */
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
}